/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-grow-1 {
    flex-grow: 1;
}

.jse-contents {
    max-height: 24rem;
}

.btn-base {
    @apply text-center font-medium focus:ring-4 focus:outline-none inline-flex items-center justify-center px-5 py-2.5 text-sm text-white rounded-lg;
}

.md-code-text {
    @apply bg-gray-100 px-1.5 rounded text-red-500;
}